/* Comment Form 
--------------------------------*/
#respond {
	margin-top: 30px;
	padding: 1.25em 0;
	p {
		margin-bottom: 0.625em;
	}
}
.button, 
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 2px solid $red;
	background: transparent;
	color: $red;
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	font-family: $font-sans;
	@include font-size(16px);
	padding: 0.5em 1em;
	text-decoration: none;
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	&:focus, 
	&:hover {
		color: $white;
		background: $red;
		text-decoration: none;
	}
}
.button {
	-webkit-appearance: none;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {	
	color: $grey;
	border: 1px solid $light-grey;
	font-family: $font-sans;
	@include rounded(2px);
	padding: 5px 3px;
	-webkit-appearance: none;
	&:focus {
		color: $grey;
	}
}

#subscribe-email input { 
	padding: 5px 3px !important;
}

textarea {
	color: $grey;
	border: 1px solid $light-grey;
	@include rounded(2px);
	padding: 5px 3px;
	width: 98%;
}

/* Search Form
-------------------------------------------*/
#searchform {
	display: inline-block;
	position: relative;
	width: 98%;	
	.search-field {	
		@include rounded(0);
		float: left;
		@include font-size(14px);
		height: 20px;
		padding: 8px;
		width: 70%;
		-webkit-appearance: none;
	}
	button {	
		@include rounded(0);
		float: left;
		@include font-size(15px);
		font-weight: 400;		
		padding: 8px 10px 9px;
		vertical-align: middle;
	}
}
