/* Media 
-----------------------------------------*/
embed,
iframe,
object{
	max-width: 100%;
}
#main img {
	height: auto;
	max-width: 100%;
}

/* Alignment
------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: $vspacing;
}
.alignright {
	display: inline;
	float: right;
	margin-left: $vspacing;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

.location-map {
	background: $white;
	border: 1px solid $grey;
	margin-bottom: 20px;
}

/* Captions 
------------------------------------*/
.wp-caption {
	border: 1px solid $light-grey;
	margin-bottom: $vspacing;
	max-width: 100%;
	padding: 0.25em;
	img[class*="wp-image-"] {
		display: block;
		margin: 0 auto;
		max-width: 98%;
	}
	.wp-caption-text {
		@include font-size(13px);
		text-align: center;
		margin: 0.8075em 0;
	}
}

/* Galleries 
------------------------------------*/
.gallery {
	margin: auto;
	img {
		border: 1px solid $light-grey;
	}
}
.gallery-item {
	display: inline-block;
	margin-top: 10px;
	text-align: center;
	vertical-align: top;
	width: 100%;
}
.gallery-columns-2 .gallery-item {
	width: 50%;
}
.gallery-columns-3 .gallery-item {
	width: 33%;
}
.gallery-columns-4 .gallery-item {
	width: 25%;
}
.gallery-columns-5 .gallery-item {
	width: 20%;
}
.gallery-columns-6 .gallery-item {
	width: 16.6666%;
}
.gallery-columns-7 .gallery-item {
	width: 14.2857%;
}
.gallery-columns-8 .gallery-item {
	width: 12.5%;
}
.gallery-columns-9 .gallery-item {
	width: 11.1111%;
}

.gallery-caption {
	@include font-size(13px);
	margin-left: 0;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}