/* Media Print
-------------------------------------- */
@media print {

    h1 {
	    page-break-before: always;
    }

    h1,  h2,  h3,  h4,  h5,  h6 {
	    page-break-after: avoid;
    }

    ul,  ol,  dl {
	    page-break-before: avoid;
    }
}

/* Media Queries
------------------------------------- */
@media screen and (min-width: $phone-wide-landscape) {
	.hide-on-large {
		display: none;
	}
}

@media screen and (max-width: $phone-wide-landscape) {
	.hide-on-small {
		display: none;
	}
	.hide-on-large {
		display: block;
	}
}