body,
button,
input,
select,
textarea {
	-moz-font-smoothing:antialiased;
	-webkit-font-smoothing:antialiased;
	color: $color-main;
	font-family: $font-serif;
	@include font-size(16px);
	line-height: 1.4;
}
p, ul, ol, table, td, th, dl, dd, dt {
	@include font-size(18px);
}
.hidden {
	display: none;
}
.align-center {
	text-align:center;
}
.contact-details p {
	@include font-size(16px);
	font-family: $font-sans;
}
a {
	color: $grey;
	cursor: pointer;
	font-weight: 400;
	text-decoration: none;
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	transition: .2s;
	text-decoration: underline;
	&.more-link {
		font-weight: 700;
		text-decoration: none;
	}
}
a:hover,
a:focus,
a:active {
	color: $black;
	text-decoration: underline;
}

h1,h2,h3,h4,h5,h6 {
	color: $black;
	font-family: $font-sans;
	line-height: 1.2;
	font-weight: 400;
}
h1 {
	@include font-size(40px);
	margin: 0 0 10px;
	&.align-center {
		text-align: center;
	}
	&.post-heading {
		@include font-size(30px);
	}
	&.page-heading {
		padding-right: 30px;
		border-right: 4px solid $red;
		margin-top: 10px;
		@media screen and (max-width: $phone-wide-landscape) {
			border-right: none;
			padding-right: 0;
			margin-top: 0;
		}
	}
	&.front-page-heading {
		@include font-size(70px);
		font-weight: 700;
		line-height: 1;
		@media screen and (max-width: $desktop-small) {
			@include font-size(55px);
		}
		@media screen and (max-width: $tablet-portrait) {
			@include font-size(40px);
		}
		@media screen and (max-width: $phone-wide-landscape) {
			@include font-size(30px);
		}
	}
	
}

h2, h3, h4, h5, h6 {
	@include font-size(22px);
	margin: 10px 0;
}
h3 {
	@include font-size(20px);
	margin: 8px 0;
}

h2.post-title a,
h3.post-title a,
h3.favorite-title a {
	color: $black;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
h2.post-title a {
	@include font-size(30px);
}

h3.favorite-title {
	@include font-size(18px);
	margin: 8px 0;
}


blockquote {
	color: $color-main;
	font-style: italic;
	font-family: $font-serif; 
	margin: 0.625em 0;
	padding: 0.625em;
	p {
		@include font-size(22px);
		margin-bottom: 0;
	}
}