/*
Theme Name: Version One Ventures Version 3
Theme URI: http://www.versioneventures.com
Description: Theme created by Christine Rondeau based on a design by Jason Grlicky
Version: 3.0

Author: Christine Rondeau
Author URI: http://www.bluelimemedia.com
*/

// COLOURS

$bgcolor: #eaeaea; 
$color-main: #58595b;

$black: #000;
$white: #fff;
$offwhite: #f0f1f1;
$grey: #58595b;
$light-grey: #eaeaea;
$disqus-grey: rgba(0,49,79,.08);

// Screen reader, warnings, etc...
$blue: #21759b;
$red: #cc002c;
$dark-red: #8e1009;
$yellow: #fff9c0;

// Horizontal rules
$hr: #eaeaea;

// Links
$link-color: #58595b;
$link-hover: #8e1009;


// FONT FAMILY
$font-sans: 'Roboto', Verdana, Segoe, sans-serif;
$font-serif: 'freight-text-pro', Georgia, Times, 'Times New Roman', serif;

// Media queries
$desktop-wide:          71.25em;  // 1140px
$desktop-small:         64.00em;  // 1024px
$tablet-portrait:       48.00em;  // 768px
$phone-wide-landscape:  35.50em;  // 568px
$phone-landscape:       30.00em;  // 480px
$phone-portrait:        20.00em;  // 320px

$column-killer-breakpoint: $tablet-portrait;  // 640px

$max-width: 1140px;


// Vertical Spacing
$vspacing: 15px;

// Normalize styles should stay at the top
@import "_normalize";

// Move mixins to their own partial
@import "_mixins";


@import "_global";
@import "_typography";

@import "layout/layout";

@import "header/header";

@import "portfolio/portfolio";

@import "blog/blog";

@import "footer/footer";

@import "forms/forms";
@import "_images";
@import "_mediaqueries";
