#branding {
	#logo a {
		background: url(images/v1logo.png) top left no-repeat;
		display: block;
		height: 32px;
		text-indent: -9999px;
		width: 200px;
		@media screen and (max-width: $tablet-portrait) {
			margin: 0 auto;
			text-align: center;
		}
	}
}

@media all and (-webkit-min-device-pixel-ratio: 2), all and (-moz-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 2), all and (-o-min-device-pixel-ratio: 2/1) {
 #branding #logo a {
	background-image: url(images/v1logo@2x.png);
	background-size: 200px 32px;
  }
}

