/* Header Area 
---------------------------*/
.site-header {
	background: $white;
	padding: 20px 0 0;
	.row {
		position: relative;
	}
	@media screen and (max-width: $max-width) {
		padding-left: 2%;
		padding-right: 2%;
	}
}

.page-header .flexcontainer {
	@include flexbox;
	@include flex-direction(column);
	
	
	
	@media screen and (min-width: $phone-wide-landscape) {
		@include flex-direction(row);
		@include align-items(center);
		.first {
			padding-right: 30px;
			white-space: nowrap;
		}
		
	}
}

@import "_branding";

@import "_navigation";

@import "_mobile-navigation";

@import "_search";


