
/* Mobile Navigation
--------------------------------------*/
.menu-toggle,
.main-small-navigation > ul {
	display: none;
}

@media screen and (max-width: $tablet-portrait) {
	.main-navigation ul {
		text-align: center;
	}
}


@media screen and (max-width: $phone-wide-landscape) {
	.main-navigation ul {
		display: none;
	}
	.menu-toggle,
	.main-small-navigation ul,
	.main-small-navigation ul ul {
		display: block;
	}
	.menu-toggle {
		background: $color-main;
		border: none;
		color: $white;
		font-family: $font-sans;
		@include rounded(0);
		@include font-size(16px);
		padding: 10px 22px;
		margin: 0;
		text-align: left;
		text-transform: uppercase;
		width: 100%;
		&:hover,
		&:focus {
			background: $grey;
		}
		&:focus {
			outline:0 none;
		}
		&:before {
			content: '\2261';
			@include font-size(16px);
			margin-right: 10px;
		}
	}

	.main-small-navigation ul {
		margin: 0;
		list-style: none;
		li {
			background: $color-main;
			&:hover {
				background: $light-grey;
			}
			a {
				display: block;
				color: $white;
				font-family: $font-sans;
				font-weight: 300;
				padding: 10px 40px;
				text-decoration: none;
				text-transform: lowercase;
				&:hover {
					color: $grey;
				}
			}
		}
	}
	.main-small-navigation ul ul a {
	  display: none;
	}
}
