/* Primary Navigation
-------------------------------------------------------------- */
.main-navigation {	
	display: block;
	margin: 0;
	ul {
		list-style: none;
		margin: 0 20px 0 0;
		padding: 0;
		text-align: right;
		li {
			display: inline-block;
			margin: 0 15px;
			padding: 0;
			position: relative;
			a {
				border-bottom: 4px solid $white;
				color: $grey;
				display: block;
				font-family: $font-sans;
				@include font-size(16px);
				line-height: 2;
				padding: 10px 0; 
				text-decoration: none;
				text-transform: lowercase;
				&:hover,
				&:focus {
					border-bottom: 4px solid $red;
					color: $red;
				}
			}
		}
		.current-menu-item a,
		.current_page_parent a {
			color: $red;
			border-bottom: 4px solid $red;
		}
	}
}


.main-navigation ul ul {
	display: none;
}
