/* Search Toggle - Taken from Sorbet
-------------------------------------------------------------- */
.toggles {
	position: absolute;
	bottom: 15px;
	right: 0;
	.toggle {
		display: block;
		.fa {
			font-size: 20px;
		}
	}
}

.panel {
	display: none;
	margin: 0;
	position: relative;
	width: 100%;
	z-index: 3;
	&#search-toggle-nav {
		padding: 5px 0 0;
	}
}

.no-results {
	padding-bottom: 400px;
}

