/* Team Page
---------------------------*/
.bio {
	padding: 0 20px 20px;
	h2, .contact-details {
		text-align: center;
	}
	.contact-details {
		list-style:none;
		margin: 20px auto 10px;
		padding: 0;
		li {
			display: inline-block;
			padding: 0 10px;
		}
	}
}