/* Home Page
---------------------------*/
#intro {
	background: url(images/founders.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 90vh;
	@include flexbox;
	@include justify-content(center);
	@include align-items(center);
	@media screen and (max-width: $desktop-small) {
		height: 60vh;
	}
	@media screen and (max-width: $tablet-portrait) {
		height: 40vh;
	}
}
