
.latest-posts {
	@include flexbox;
	@include flex-wrap(wrap);
	@include align-items(stretch);
	list-style: none;
	margin: 0;
	padding: 0 0 20px;
	li {
		background: $white;
		margin-bottom: 10px;
		margin-top: 10px;
		width: 32%;
		@media screen and (max-width: $phone-wide-landscape) {
			margin: 10px 0;
			width: 100%;
		}
		.content-entry {
			padding: 10px 20px 5px;

		}
		.pic {
			height: 250px;
			margin: 0 auto;
			overflow: hidden;
			text-align: center;
		}
	}
	li + li {
		margin-left: 2%;
		@media screen and (max-width: $phone-wide-landscape) {
			margin-left:0;
		}
	}
}

.favorite-posts {
	@extend .latest-posts;
	li .pic {
		height: 150px;
	}
}