//https://github.com/mcgriddles/1140px-Responsive-SASS-Grid
@import "_1140";


/* Main Layout
---------------------------*/
.container {@include container;}
.row       {@include row; }

.col-1   {@include column(1);}
.col-2   {@include column(2);}
.col-3   {@include column(3);}
.col-4   {@include column(4);}
.col-5   {@include column(5);}
.col-6   {@include column(6);}
.col-7   {@include column(7);}
.col-8   {@include column(8);}
.col-9   {@include column(9);}
.col-10  {@include column(10);}
.col-11  {@include column(11);}
.col-12  {@include column(12); @include last;}

.push-1  {@include push(1);}
.push-2  {@include push(2);}
.push-3  {@include push(3);}
.push-4  {@include push(4);}
.push-5  {@include push(5);}
.push-6  {@include push(6);}
.push-7  {@include push(7);}
.push-8  {@include push(8);}
.push-9  {@include push(9);}
.push-10 {@include push(10);}
.push-11 {@include push(11);}

.last   {@include last;}

#main {
	margin: 40px 0;	
}
#content {
	@media screen and (max-width: $tablet-portrait) {
		padding-left: 2%;
		padding-right: 2%;
	}
}
#page-header { 
	margin-bottom: 20px;
}

.subscribe {
	border-bottom: 1px solid $white;
	border-top: 1px solid $white;
}
//
//.search #page-header {
//	h1 {
//		border: none;
//	}
//	h2.sub-title {
//		padding-top: 15px;
//	}
//}


@import "_home";

@import "_latest-posts";

@import "_bio";

@import "_popup";
