.popup,
.dgd_stb_box {
	background: $white;
	font-family: $font-sans;
	padding: 60px !important;
	.widget-single {
		border: none;
	}
	#subscribe-email label {
		display: none;
	}


	.close,
	.dgd_stb_box_close {
		cursor: pointer;
		display: inline-block;
		@include font-size(26px);
	 	position: absolute;
	 	right: 5px;
		text-decoration: none;
	  	top: 5px;
	}
	.form {
		margin: 0 10px;
	}
}

#bl-modal-popup{
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,.6);

	.modal-inner{
		display: block;
		position: absolute;
		min-height: 350px;
		width: 500px;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
	@media screen and (max-width:$phone-wide-landscape){
		display: none !important;
	}

	
}
