.button, 
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 2px solid $red;
	background: transparent;
	color: $red;
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	font-family: $font-sans;
	@include font-size(16px);
	padding: 0.5em 1em;
	text-decoration: none;
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	&:focus, 
	&:hover {
		color: $white;
		background: $red;
		text-decoration: none;
	}
}
.button {
	-webkit-appearance: none;
}
