input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {	
	color: $grey;
	border: 1px solid $light-grey;
	font-family: $font-sans;
	@include rounded(2px);
	padding: 5px 3px;
	-webkit-appearance: none;
	&:focus {
		color: $grey;
	}
}

textarea {
	color: $grey;
	border: 1px solid $light-grey;
	@include rounded(2px);
	padding: 5px 3px;
	width: 98%;
}
