/* Comment Form 
--------------------------------*/
#respond {
	margin-top: 30px;
	padding: 1.25em 0;
	p {
		margin-bottom: 0.625em;
	}
}


#subscribe-email input { 
	padding: 5px 3px !important;
}

@import "_buttons";

@import "_fields";

@import "_searchform";

