#searchform {
	display: inline-block;
	position: relative;
	width: 100%;	
	.search-field {	
		@include rounded(0);
		float: left;
		@include font-size(16px);
		height: 14px;
		padding: 6px;
		width: 70%;
		-webkit-appearance: none;
	}
	button {	
		@include rounded(0);
		float: left;
		@include font-size(13px);
		font-weight: 400;	
		margin-left: 1%;	
		padding: 2px 7px;
		width: 19%;
		vertical-align: middle;
	}
}