/* Footer area 
---------------------*/
#footer {
	background: $white;
	clear: both;
	color: $grey;
	font-family: $font-sans;
	margin: 0 auto 0;
	padding: 30px 0;
	text-align: center;
	width: 100%;
	ul {
		
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			display: inline-block;
			@include font-size(10px);
			padding: 3px 15px 8px 5px;
			@media screen and (max-width: $phone-wide-landscape) {
				padding: 3px 5px;
	
			}
			&.sep {
				border-left: 1px solid $red;
				@media screen and (max-width: $phone-wide-landscape) {
					display: none;
					
				}
			}
			a {
				color: $grey;
				@include font-size(12px);
				line-height: 2;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

}
