/* Portfolio Grid
---------------------------------------------------*/

#portfolio-filter{
	font-family: $font-sans;
	.filter-wrapper{
		margin-bottom: 15px;
		a{
			padding: 10px 15px;
			display: inline-block;
			text-decoration: none;
			text-transform: lowercase;
			&:hover{
				text-decoration: none;
			}
			span{
				padding-left: 15px;
				border-left: solid 1px $offwhite;
			}
			+ a{
				padding-left: 0;
			}
		}
	}

	.portfolio-list{
		.portfolio-image {
			background: $white;
			min-height: 180px;
		}
		
		img	{
			display: block;
		}
		&:after{
			content:'';
			display: block;
			clear: both;
		}
		a{
			font-weight: 300;
			display: block;
		}
	}
	ul{
		list-style: none;
		margin: 0;
	}
	li.element{		
		overflow: hidden;
		margin: 1% 0.5%;
		padding: 0 10px 0;
		position: relative;
		width: 24%;
		&:hover {
			background: $light-grey;
			.portfolio-overlay {
				opacity: 1;
			}
		}
		.image-wrap {
			padding: 0 10%;
			height: 190px;
			position: relative;
		}
		img{
			position: relative;
			top: 50%;
			-webkit-transform: translateY(-50%);
			  	-ms-transform: translateY(-50%);
			  	transform: translateY(-50%);
				width: 100%;
		}
		.portfolio-overlay{
			background: $light-grey;
			bottom: 0;
			display: block !important;
			left: 0;
			opacity: 0;
			padding: 10px;
			position: absolute;
			right: 0;
			top: 0;
			p {
				@include font-size(14px);
			}
		}

	}
}

@media screen and (max-width:$desktop-small) {	
	#portfolio-filter{
		li.element{
			width: 32%;
		}
	}
}

@media screen and (max-width: $phone-landscape) {	
	#portfolio-filter{
		li.element{
			width: 100%;
		}
	}
}