/* Main body blog content formatting
--------------------------------------------------------------*/
.hentry {
	padding: 0 0 30px;
	ul, ol {
		margin: 0 20px 20px; 
		padding: 0 20px 20px; 
	}
}
p.date {
	font-style: italic;
	@include font-size(16px);
}

p.tag-cloud {
	line-height: 3;
	a {
		background: $white;
		@include rounded(20px);
		margin: 5px;
		padding: 5px 20px;
		text-decoration: none;
		text-transform: lowercase;
		white-space: nowrap;
	}
}

@import "_entrymeta";

@import "_comments";

@import "_widgets";

@import "_post-navigation";


@import "_post-pagination";

