
.entrymeta {
	font-family: $font-sans;
	margin: 10px 0; 
	padding: 0;
	a {
		font-weight: 300;
		text-decoration: none;
	}
	.sep {
		padding: 0 10px;
	}
	p {
		@include font-size(14px);
		margin: 5px 0; 
	}
	.tag-list a {
		margin: 0 8px;
		text-transform: lowercase;
	}
	img {
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		height: 60px;
		margin: 5px auto;
		max-width: 60px;
	}
	.author-pic {
		float: left;
		margin-right: 2%;
		width: 8%;
	}
	.meta-info {
		float: left;
		width: 90%;
	}
}
