.post-navigation {
	font-family: $font-sans;
	@include font-size(15px);
	padding: 2em 0;
	.nav-next,
	.nav-previous {
		float: left;
		width: 50%;
		a {
			text-decoration: none;
			font-weight: 700;
		}
	}
	.nav-next {
		float: right;
		text-align: right;
	}	
} 
