/* Post pagination
----------------------------------------------- */

.paging-navigation {
	font-family: $font-sans;
	padding: 15px 0;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			display: inline;
		}
	}
	a.page-numbers,
	span.page-numbers {
		color: $grey;
		font-family: $font-sans;
		@include font-size(14px);
		padding: 3px 8px;
		text-decoration: none;
		&:hover {
			color: $red;
		}
		&.current {
			color: $dark-red;
		}
	}
	
}


