/* Populare posts widgets */
.widget-head {
	border-left: 4px solid $red;
	@media screen and (max-width:$tablet-portrait) {
		border: none;
		margin-bottom: 20px;
	}
}
.widget {
	margin: 0; 
	padding: 0 2em;
	@media screen and (max-width:$tablet-portrait) {
		padding-left: 0;
	}
	ul {
		list-style: none;
		margin: 0;
		li {
			padding: 0.5em 0 1em;
			a {
				font-weight: normal;
				text-decoration: none;
			}
		}
	}
}

.widget-single {
	border-top: 1px solid $disqus-grey;
	border-bottom: 1px solid $disqus-grey;
	margin: 0 0 20px;
	padding: 20px 0;
	.home & {
		border: none;
	}
	#subscribe-email input {
		max-width: 600px;
	}
}

.widget-page {
	@extend .widget;
	padding: 2em 0 300px;
	@media screen and (max-width:$tablet-portrait) {
		padding: 2em 0;
	}
	h4 {
		display: none;
	}
}

